# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# virtual environment
.venv/

# serverless plugins node dependencies
node_modules/
.dynamodb/

# Python
__pycache__/
